[submodule "ludum-dare-base/lib/basejs"]
	path = Ludum-Dare-Base/lib/basejs
	url = https://github.com/aucguy/basejs.git
[submodule "ludum-dare-base/lib/canvg"]
	path = Ludum-Dare-Base/lib/canvg
	url = https://github.com/aucguy/canvg.git
[submodule "ludum-dare-base/lib/phaser"]
	path = Ludum-Dare-Base/lib/phaser
	url = https://github.com/aucguy/phaser.git
[submodule "ludum-dare-base/lib/javascript-state-machine"]
	path = Ludum-Dare-Base/lib/javascript-state-machine
	url = https://github.com/aucguy/javascript-state-machine.git
